@import "tailwindcss";

:root {

  --primary: #38C4F0;
  --primary-2: #5FD2F5;
  --primary-3: #2A8FB0;
  
  --light: #E6EDF3;
  --light-2: #AAB4C3;
  --light-3: #7A8699;

  --dark: #0E1217;
  --dark-2: #151B22;
  --dark-3: #1C2430;

  --accent: #263041;
  --accent-2: rgba(56, 196, 240, .2);
}

@theme inline {

  --color-primary: var(--primary);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);

  --color-light: var(--light);
  --color-light-2: var(--light-2);
  --color-light-3: var(--light-3);

  --color-dark: var(--dark);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);

  --color-accent: var(--accent);
  --color-accent-2: var(--accent-2);

  --font-body: "Archivo Variable", sans-serif;
  --font-heading: "Bricolage Grotesque Variable", sans-serif;
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  font-family: "Archivo Variable", sans-serif;
}

h1{
  font-family: var(--font-heading);
  color: var(--color-light);
}

p{
  color: var(--color-light-2);
  font-size: 16px;
}

@media(min-width: 1440px){
  p{
    font-size: 20px;
  }
}